{% extends 'base.html' %}

{% block title %}
    CoNekT - Contact
{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li class="active"><strong>Contact</strong></li>
    </ol>
    <h1>Contact Us<br /></h1>

    <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs"><img alt="sebastian proost picture" class="img-rounded" style="width: 100%; height: auto;margin-top: 20px" src="{{ url_for('static', filename='img/contact/sepro.jpg') }}"></div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12"><h3 class="banner-blue">Sebastian Proost, PhD</h3>
            <p><strong>Main developer</strong></p>
            <br />
            <p><i class="fa fa-globe text-muted"></i> <a href="http://sebastian.proost.science">http://sebastian.proost.science</a></p>
            <p><i class="fa fa-envelope text-muted"></i> <a href="https://www.kuleuven.be/wieiswie/en/person/00123248">https://www.kuleuven.be/wieiswie/en/person/00123248</a></p>
        </div>
    </div>

</div>

</div>
{% endblock %}
