<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>PlaNet 2.0</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='css/jquery.qtip.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-xs" href="{{ url_for('main.screen') }}"><i class="fa fa-home fa-fw"></i> PlaNet 2.0</a>
                    <a class="navbar-brand visible-xs" href="{{ url_for('main.screen') }}"><i class="fa fa-home fa-fw"></i></a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{ url_for('species.species_overview') }}">Species</a></li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Expression <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('expression_profile.expression_profile_heatmap') }}">Heatmap</a></li>
                            </ul>
                        </li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-form"  role="search" method="post" id="search-form" name="search-form" action="{{ url_for('search.simple') }}">
                                {{ g.search_form.csrf_token }}
                                <div class="form-group input-group">
                                    {{ g.search_form.terms(class_="form-control", placeholder="Search") }}
                                    <div class="input-group-btn"><button type="submit" class="btn btn-primary" value="Search"><i class="fa fa-search"></i></button></div>
                                </div>

                            </form>
                        </li>
                        <li class="dropdown">
                            {% if current_user.is_authenticated() %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <strong>{{ current_user.username }}</strong></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out"></i> Log out</a></li>
                                {% if current_user.is_administrator() %}
                                <li role="separator" class="divider"></li>
                                <li><a href="/admin"><i class="fa fa-cogs"></i> Admin panel</a></li>
                                {% endif %}
                            </ul>
                            {% else %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Not logged in!</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('auth.login') }}"><i class="fa fa-sign-in"></i> Log in</a></li>
                                <li><a href="{{ url_for('auth.register') }}"><i class="fa fa-user-plus"></i> Register</a></li>
                            </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Code to get flash function working -->
        <div class="container">
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <br />
            <div class="alert alert-{{category}} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        </div>

        <div class="container">
            {% block container %}{% endblock %}
        </div>

        <footer class="footer">
          <div class="container">
              <div class="row">
                  <div class="col-xs-3"><strong class="text-muted">Planet 2.0</strong></div>
                  <div class="col-xs-3"><a href="{{ url_for('main.about') }}" class="text-muted">About</a></div>
                  <div class="col-xs-3"><a href="{{ url_for('main.contact') }}" class="text-muted">Contact</a></div>
                  <div class="col-xs-3"><a href="{{ url_for('main.license') }}" class="text-muted">License</a></div>
              </div>
          </div>
        </footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% block extrajs %}{% endblock %}
</body>
</html>
