{% extends 'base.html' %}

{% block title %}
    Custom Network
{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li><a href="{{ url_for('main.features') }}">Tools</a></li>
        <li class="active"><strong>Custom Network</strong></li>
    </ol>
<h1>Custom network</h1>
    <p>Using the form below you can draw a co-expression network which only included selected genes as nodes and edges
    between them.</p>
<div class="row">
    <div class="col-md-4 col-md-offset-2 col-xs-8">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Options</strong></div>
            <div class="panel-body">
                <form method="POST"  action="{{ url_for('custom_network.custom_network_main') }}"  role="form">
                    {{ form.csrf_token }}
                    <label>Select species and network:</label><br />
                    {{form.method_id(class_="form-control") }}<br />
                    <label>Enter Gene IDs:</label><br />
                    {{form.probes(class_="form-control") }}<br />
                    <h3>Advanced</h3>
                    {{form.family_method(class_="form-control") }}<br />
                    {{form.cluster_method(class_="form-control", disabled=True) }}<br />
                    {{form.specificity_method(class_="form-control", disabled=True) }}<br />
                    <div class="pull-right">
                    {% if example and example.probes %}
                        <button class="btn btn-default" id="load_example">Load example</button>
                    {% endif %}
                    <button type="submit" class="btn btn-primary"  data-toggle="modal" data-target="#loaderModal">Draw network</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Help</strong></div>
            <div class="panel-body">
                <ul>
                    <li>Select the species (and network if multiple options exist)</li>
                    <li>Enter a list of gene identifiers (separated by spaces, tabs or newlines) to include in the
                    network.</li>
                    <li>Click <strong>Draw network</strong></li>
                </ul>
                <br/><br/>
                <h4>Advanced options</h4>
                <p>The advanced settings can be used to specify which additional data is included in the network. These
                    options allow color coding of nodes based on gene family, the cluster, which condition the genes are
                    expressed in...</p>
            </div>
        </div>
    </div>
</div>


</div>
{% endblock %}
{% block extrajs %}
<script>
    $(function () {
        var formdata = [];

        var populate_networks = function(data) {
            $('#method_id').find('option').remove();
            $.each(data, function () {
                $('#method_id').append($("<option />").val(this.id).text(this.name));
            });
            $('#method_id').trigger('change');
        };

        var populate_cluster_methods = function(data) {
            $('#cluster_method').find('option').remove();
            $.each(data, function () {
                $('#cluster_method').append($("<option />").val(this.id).text(this.method));
            });

            if ($('#cluster_method').find('option').length > 0) {
                $('#cluster_method').prop('disabled', false);
            } else {
                $('#cluster_method').prop('disabled', 'disabled');
                $('#cluster_method').append($("<option />").val(0).text("Not available"));
            }

            $('#cluster_method').trigger('change');
        }

        var populate_specificity_methods = function(data) {
            $('#specificity_method').find('option').remove();
            $.each(data, function () {
                $('#specificity_method').append($("<option />").val(this.id).text(this.method));
            });

            if ($('#specificity_method').find('option').length > 0) {
                $('#specificity_method').prop('disabled', false);
            } else {
                $('#specificity_method').prop('disabled', 'disabled');
                $('#specificity_method').append($("<option />").val(0).text("Not available"));
            }

            $('#specificity_method').trigger('change');
        }

        $('#method_id').change(function(ev) {
            var valueSelected = this.value;
             $.each(formdata, function () {
                  if (this.id == valueSelected) {
                    populate_cluster_methods(this.clustering_methods);
                    populate_specificity_methods(this.specificity_methods);
                  }
             });
        });

        $.getJSON("{{ url_for('custom_network.custom_network_form_data') }}", function(json) {
              formdata = json;
              console.log(formdata);
              populate_networks(formdata);
            });

            {% if example and example.probes %}
            $(function() {
                $('#load_example').click(function (ev) {
                    ev.preventDefault();
                    {% for key, value in example.items() %}
                        $('#{{key}}').val("{{value}}");
                    {% endfor %}
                    $('#method_id').trigger('change');
                });
            });
            {% endif %}
        });
</script>
{% endblock %}