{% extends 'base.html' %}

{% block container %}
{% import 'macros/sequence_pagination.html' as macro %}
<div class="top-pad">

    {% if cluster_methods %}
    <h1>Clustering Methods Overview</h1>
     <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Species</th>
                    <th>Description</th>
                    <th>Network</th>
                    <th>Cluster count</th>
                </tr>
            </thead>
            <tbody>
            {% for c in cluster_methods  %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td><em><a href="{{ url_for('species.species_view', species_id=c.network_method.species.id) }}">{{ c.network_method.species.name }}</a></em></td>
                    <td>{{ c.method }}</td>
                    <td>{{ c.network_method.description }}</td>
                    <td>{{ c.cluster_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% elif cluster %}
        <h1>Cluster: {{ cluster.name }}<br /><small>{{ cluster.method.method }}</small></h1>
        <a href="{{ url_for('expression_cluster.expression_cluster_graph', cluster_id=cluster.id) }}">View graph</a> <i class="fa fa-share-alt"></i>
 <span class="text-muted">|</span> <a href="{{ url_for('expression_cluster.expression_cluster_download', cluster_id=cluster.id) }}" download="table.txt">Download table</a> <i class="fa fa-download"></i>

        <br /><br />
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Enriched GO Terms</div>
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table  table-striped" id="EnrichedGO">
                        <thead>
                            <tr>
                                <th data-sort="string-ins">ID</th>
                                <th data-sort="string-ins">label</th>
                                <th data-sort="float">p-value</th>
                                <th data-sort="float">corrected p-value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for go in go_enrichment %}
                                {% if go.corrected_p_value <= 0.05 %}
                                <tr>
                                    <td><a href="{{ url_for('go.go_view', go_id=go.go.id) }}" data-toggle="tooltip"
                                       data-placement="top" title="{{ go.go.description }}">{{ go.go.label }}</td>
                                    <td>{{ go.go.name }}</td>
                                    <td>{{ go.p_value|round(6) }}</td>
                                    <td>{{ go.corrected_p_value|round(6) }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div></div>


        {{ macro.sequence_pagination(url_for('expression_cluster.expression_cluster_sequences', cluster_id=cluster.id), sequence_count) }}

    {% endif %}

</div>
{% endblock %}

{% block extrajs %}
    {% if cluster %}
        <script src="{{ url_for('static', filename='js/stupidtable.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/planet_pagination.js') }}"></script>
        <script>
        $( document ).ready(function() {
                $('[data-toggle="tooltip"]').tooltip();
                $("#EnrichedGO").stupidtable();
        });
        </script>

    {% endif %}
{% endblock %}