{% extends 'base.html' %}

{% block container %}
<div class="top-pad">
    <h1>Expression Graph: <strong>{{ node.probe }}</strong> <small>({{ node.method.description }})</small></h1>
    <div id="cy" json="{{ url_for('expression_network.expression_network_json', node_id=node.id) }}"></div>

</div>

</div>
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.qtip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/cytoscape-qtip.js') }}"></script>
<script src="{{ url_for('static', filename='js/planet_graph.js') }}"></script>
{% endblock %}