{% extends 'base.html' %}

{% block container %}
<div class="top-pad">

    {% if order %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li><a href="{{ url_for('main.features') }}">Tools</a></li>
        <li><a href="{{ url_for('heatmap.heatmap_main') }}">Expression Heatmap</a></li>
        <li class="active"><strong>Results</strong></li>
    </ol>
    <h1>Heatmap</h1>
     <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>probe</th>
                    {% for o in order %}
                    <th class="rotated"><div><span>{{ o }}</span></div></th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for p in profiles  %}
                <tr class="heatmap">
                    <td>{{ p.name }}</td>
                    {% for o in order %}
                    <td class="value">{{ p['values'][o]|round(2) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% else %}
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.screen') }}">Home</a></li>
            <li><a href="{{ url_for('main.features') }}">Tools</a></li>
            <li class="active"><strong>Expression Heatmap</strong></li>
        </ol>
        <h1>Heatmap</h1>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Select genes</strong></div>
                    <div class="panel-body">
                        <form method="POST"  action="{{ url_for('heatmap.heatmap_main') }}"  role="form">
                            {{ form.csrf_token }}
                            {{form.species_id(class_="form-control") }}<br />
                            {{form.probes(class_="form-control") }}<br />
                            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#loaderModal">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}


</div>
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/jquery.hottie.js') }}"></script>
<script>
    $('td.value').hottie({
    colorArray : [
        "#0000FF",
        "#FFFFFF",
        "#FF0000"
    ], symmetrical : true
});
</script>
{% endblock %}