{% extends 'base.html' %}

{% block container %}
<div class="top-pad">

    {% if networks %}
    <h1>Network Overview</h1>
     <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Species</th>
                    <th>Method</th>
                    <th>Score</th>
                    <th>Probe count</th>
                </tr>
            </thead>
            <tbody>
            {% for n in networks  %}
                <tr>
                    <td>{{ n.id }}</td>
                    <td><em><a href="{{ url_for('species.species_view', species_id=n.species.id) }}">{{ n.species.name }}</a></em></td>
                    <td>{{ n.description }}</td>
                    <td>{{ n.edge_type }}</td>
                    <td>{{ n.probes.count() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}

</div>
{% endblock %}

{% block extrajs %}
{% endblock %}