{% extends 'base.html' %}

{% block title %}
    {% if order %}
        {% if cluster %}
            {{cluster.name}} heatmap
        {% else %}
            Custom Heatmap
        {% endif %}
    {% else %}
        Create Custom Heatmap
    {% endif %}
{% endblock %}

{% block container %}
<div class="top-pad">

    {% if order %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li><a href="{{ url_for('main.features') }}">Tools</a></li>
        <li><a href="{{ url_for('heatmap.heatmap_main') }}">Expression Heatmap</a></li>
        <li class="active"><strong>Results</strong></li>
    </ol>
    {% if cluster %}
        <h1>Heatmap: <strong>{{ cluster.name }}</strong> <small>({{ cluster.method.method }})</small></h1>
        {% import "macros/cluster_actions.html" as ca %}
        <p><strong>View as: </strong>{{ ca.cluster_actions(cluster.id, exclude=["heatmap"]) }}</p>
    {% else %}
        <h1>Heatmap</h1>
    {% endif %}
     <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>probe</th>
                    {% for o in order %}
                    <th class="rotated"><div><span>{{ o }}</span></div></th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for p in profiles  %}
                <tr class="heatmap">
                    <td>{{ p.name }}</td>
                    {% for o in order %}
                    <td class="value">{{ p['values'][o]|round(2) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        </div>
        {% else %}
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.screen') }}">Home</a></li>
            <li><a href="{{ url_for('main.features') }}">Tools</a></li>
            <li class="active"><strong>Expression Heatmap</strong></li>
        </ol>
        <h1>Heatmap</h1>
        <p>Creates an expression heatmap (table with shaded cells) for a selected set of genes.</p>
        <div class="row">
             <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Select genes</strong></div>
                    <div class="panel-body">
                        <form method="POST"  action="{{ url_for('heatmap.heatmap_main') }}"  role="form">
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ form.csrf_token }}
                                    {{form.species_id(class_="form-control") }}<br />
                                    {{form.probes(class_="form-control") }}<br />
                                    <button type="submit" class="btn btn-primary pull-right" data-toggle="modal" data-target="#loaderModal">Generate heatmap</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Help</strong></div>
                    <div class="panel-body">
                        <ul>
                            <li>First select the desired <strong>species</strong></li>
                            <li>Next add the genes to include in the heatmap
                                (space, tab or line separated) in the corresponding box</li>
                            <li>Click <strong>Generate heatmap</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}


</div>
{% endblock %}

{% block extrajs %}
{% if order %}
<script src="{{ url_for('static', filename='js/jquery.hottie.js') }}"></script>
<script>
    $('td.value').hottie({
    colorArray : [
        "#0000FF",
        "#FFFFFF",
        "#FF0000"
    ], symmetrical : true
});
</script>

{% endif %}

{% endblock %}