{% extends 'base.html' %}

{% block container %}
<div class="top-pad">

    {% if profile %}
    {% if  profile.sequence %}
    <h1>Expression profile for: <strong><a href="{{url_for('sequence.sequence_view', sequence_id=profile.sequence.id)}}">{{ profile.sequence.name }}</a></strong> <small>({{ profile.probe }})</small></h1>
    {% else %}
    <h1>Expression profile for: <strong>{{ profile.probe }}</strong></h1>
    {% endif %}

    {% if  profile.entropy %}
    <span>Profile entropy: <strong>{{ profile.entropy|round(2) }}</strong></span><br />
    {% endif %}

    {% for s in profile.specificities %}
    <span>{{ s.method.description }}: <strong>{{ s.condition }}</strong> (<abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='spm') }}" data-target="#helpModal">SPM</abbr>: {{ s.score|round(2) }})</span><br />
    {% endfor %}

    <br/>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>All conditions</h2>
                    <div id="canvas-holder" class="center-block">
                        <canvas id="chart-area" class="center-block" width="800" height="600"/>
                    </div>
                </div>
            </div>
        </div>
        {% for t in tissues %}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{{t.name}}</h2>
                    <div id="canvas-holder-{{ t.id }}" class="center-block">
                        <canvas id="chart-area-{{ t.id }}" class="center-block" width="800" height="600"/>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

</div>
{% endblock %}

{% block extrajs %}
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
	<script>
			$.getJSON( "{{ url_for('expression_profile.expression_profile_plot_json', profile_id=profile.id) }}", function( data ) {
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myPie = new Chart(ctx).Line(data, { animation: false,
				multiTooltipTemplate: "<%if (datasetLabel){{ '{%' }}><%=datasetLabel%>: <{{ '%}' }}%><%= value.toFixed(2) %>"});
			});
			{% for t in tissues %}
			$.getJSON( "{{ url_for('expression_profile.expression_profile_plot_tissue_json', profile_id=profile.id, condition_tissue_id=t.id) }}", function( data ) {
				var ctx = document.getElementById("chart-area-{{t.id}}").getContext("2d");
				window.myPie = new Chart(ctx).Line(data, { animation: false,
				tooltipTemplate: "<%if (datasetLabel){{ '{%' }}><%=datasetLabel%>: <{{ '%}' }}%><%= value.toFixed(2) %>"});
			});
			{% endfor %}
	</script>
{% endblock %}