{% extends 'base.html' %}

{% block title %}
    {% if overview %}
        Clustering Methods Overview
    {% else %}
        {{ cluster.name }} details
    {% endif %}
{% endblock %}

{% block container %}
{% import 'macros/pagination.html' as macro %}
{% import 'macros/ajax_table.html' as ajax %}
<div class="top-pad">

    {% if overview %}
    <h1>Clustering Methods Overview</h1>
    {% if cluster_methods|count > 1 %}
     <div class="table-responsive">
        <table class="table table-separated">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Species</th>
                    <th>Description</th>
                    <th>Network</th>
                    <th>Cluster count</th>
                </tr>
            </thead>
            <tbody>
            {% for c in cluster_methods  %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td><em><a href="{{ url_for('species.species_view', species_id=c.network_method.species.id) }}">{{ c.network_method.species.name }}</a></em></td>
                    <td>{{ c.method }}</td>
                    <td>{{ c.network_method.description }}</td>
                    <td>{{ c.cluster_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <p><span class="text-muted"><em>No co-expression clusters generated.</em></span></p>
    {% endif %}
    {% elif cluster %}
        {% import "macros/cluster_actions.html" as ca %}
    <h1>Coexpression cluster: <strong>{{ cluster.name }}</strong> <small>({{ cluster.method.method }})</small></h1>
        <p><strong>View as: </strong>{{ ca.cluster_actions(cluster.id, exclude=["table"]) }}</p>
        <br /><br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Enriched GO Terms (<a id="DownloadEnrichedGO" href="#">download table</a>)</div>
                    <div class="panel-scroll">
                        <div class="table-responsive">
                            <table class="table table-striped table-separated" id="EnrichedGO">
                                <thead>
                                    <tr>
                                        <th data-sort="string-ins"><span class="sort-icon"></span>ID</th>
                                        <th data-sort="string-ins"><span class="sort-icon"></span>Label</th>
                                        <th data-sort="float"><span class="sort-icon"></span>% in cluster</th>
                                        <th data-sort="float"><span class="sort-icon"></span>Enrichment <span class="text-muted">log2</span></th>
                                        <th data-sort="float"><span class="sort-icon"></span>p-value</th>
                                        <th data-sort="float"><span class="sort-icon"></span>Corrected p-value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for go in go_enrichment %}
                                        {% if go.corrected_p_value <= 0.05 %}
                                        <tr>
                                            <td><a href="{{ url_for('go.go_view', go_id=go.go.id) }}" data-toggle="tooltip"
                                               data-placement="top" title="{{ go.go.description }}">{{ go.go.label }}</a></td>
                                            <td>{{ go.go.name }}</td>
                                            <td>{{ go.cluster_percentage|round(2) }}% <span class="text-muted">({{go.cluster_count}}/{{go.cluster_size}})</span></td>
                                            <td>{{ go.enrichment|round(2) }}</td>
                                            <td>{{ go.p_value|round(6) }}</td>
                                            <td>{{ go.corrected_p_value|round(6) }}</td>
                                        </tr>
                                        {% endif %}
                                    {% else %}
                                        <tr>
                                            <td colspan="6"><span class="text-muted"><em>No enriched GO-terms found</em></span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Similar Clusters  (<a id="DownloadSimilarClusters" href="#">download table</a>)</div>
                    <div class="panel-scroll">
                        <div class="table-responsive">
                            <table class="table table-striped table-separated" id="SimilarClusters">
                                <thead>
                                    <tr>
                                        <th data-sort="string-ins"><span class="sort-icon"></span>Clustering Method</th>
                                        <th data-sort="string-ins"><span class="sort-icon"></span>Target</th>
                                        <th data-sort="float"><span class="sort-icon"></span>Jaccard index</th>
                                        <th data-sort="string-ins"><span class="sort-icon"></span>Gene Family Method <span class="text-muted">(for comparison)</span></th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sc in similar_clusters %}
                                        <tr>
                                            {% if sc.target.name == cluster.name %}
                                                <td>{{ sc.source.method.method }}</td>
                                                <td><a href="{{ url_for('expression_cluster.expression_cluster_view', cluster_id=sc.source_id) }}">{{ sc.source.name }}</a></td>
                                            {% else %}
                                                <td>{{ sc.target.method.method }}</td>
                                                <td><a href="{{ url_for('expression_cluster.expression_cluster_view', cluster_id=sc.source_id) }}">{{ sc.target.name }}</a></td>
                                            {% endif %}
                                            <td>{{ sc.jaccard_index|round(3) }}</td>
                                            <td>{{ sc.gene_family_method.method }}</td>
                                            <td><a href="{{ url_for('graph_comparison.graph_comparison_cluster', one=sc.source_id, two=sc.target_id, family_method_id=sc.gene_family_method_id) }}">Compare</a></td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5"><span class="text-muted"><em>No similar clusters found</em></span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {{ macro.pagination('Sequences',
            url_for('expression_cluster.expression_cluster_sequences', cluster_id=cluster.id),
            sequence_count,
            url_for('expression_cluster.expression_cluster_download', cluster_id=cluster.id),
            'clusters'
        ) }}

        <h3 class="banner-blue" id="associated_things">Associations</h3>

    {{ ajax.ajax_table(
        'InterPro Domains',
        url_for('expression_cluster.cluster_interpro_ajax', cluster_id=cluster.id),
        none,
        'interpro_ajax'
    ) }}

    {{ ajax.ajax_table(
        'GO Terms',
        url_for('expression_cluster.cluster_go_ajax', cluster_id=cluster.id),
        none,
        'go_ajax'
    ) }}

    {{ ajax.ajax_table(
        'Family Terms',
        url_for('expression_cluster.cluster_family_ajax', cluster_id=cluster.id),
        none,
        'family_ajax'
    ) }}

        <br /><br />
    {% endif %}

</div>
{% endblock %}

{% block extrajs %}
    {% if cluster %}
        <script src="{{ url_for('static', filename='js/table2CSV.js') }}" > </script>
        <script>
        $( document ).ready(function() {
                $('[data-toggle="tooltip"]').tooltip();
                $("#EnrichedGO").stupidtable();
                $("#SimilarClusters").stupidtable();

                var csv_data = $("#EnrichedGO").table2CSV({delivery:'value'});
                $("#DownloadEnrichedGO").attr('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(csv_data));
                $("#DownloadEnrichedGO").attr('download', "table.csv");

                var csv_data = $("#SimilarClusters").table2CSV({delivery:'value'});
                $("#DownloadSimilarClusters").attr('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(csv_data));
                $("#DownloadSimilarClusters").attr('download', "table.csv");

        });
        </script>

    {% endif %}
{% endblock %}