{% extends 'base.html' %}

{% block container %}
{% import 'macros/pagination.html' as macro %}
<div class="top-pad">

    {% if family %}
    <h1><abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='gene_family') }}" data-target="#helpModal">Gene Family</abbr>: <strong>{{ family.name }}</strong></h1>

    {% if family.clade_id %}
    <p>Specific for <strong><a href="{{ url_for('clade.clade_view', clade_id=family.clade_id) }}">{{ family.clade.name}}</a></strong></p>
    {% endif %}
    <p>{{ family.method.method }}</p>
    <br />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>There are <strong>{{ count }}</strong> sequences with this label.</p>
                    {% if count > 0 %}
                    <div id="canvas-holder" class="center-block">
                        <canvas id="chart-area" class="center-block" width="300" height="300"/>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">External Links</div>
                {% if xrefs|count > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            {% for xref in xrefs %}
                            <tr>
                                <td><strong>{{ xref.platform }}</strong></td>
                                <td>
                                    <a href="{{ xref.url }}">{{ xref.name }} <i class="fa fa-external-link"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>No external references for this sequences in the database.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {{ macro.pagination(
        'Sequences',
        url_for('family.family_sequences', family_id=family.id),
        count,
        url_for('family.family_sequences_table', family_id=family.id)
    ) }}

    {% endif %}
</div>

</div>
{% endblock %}

{% block extrajs %}
    <script src="{{ url_for('static', filename='js/planet_pagination.js') }}"></script>
    {% if count > 0 %}
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
	<script>
			$.getJSON( "{{ url_for('family.family_json_species', family_id=family.id) }}", function( data ) {
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myPie = new Chart(ctx).Doughnut(data, {animateRotate : false});
			});
	</script>
    {% endif %}
{% endblock %}