{% extends 'base.html' %}

{% block container %}
<div class="top-pad">

    {% if go %}
    <h1>{{ go.label }}: <strong>{{ go.name }}</strong> <small>({{ go.type }})</small></h1>

    <p>{{ go.description }}</p>
    <br />

    <p>There are <strong>{{ go.sequences.count() }}</strong> sequences with this label.</p>

        {% if go.sequences.count() > 1 %}
        <div id="canvas-holder">
			<canvas id="chart-area" width="300" height="300"/>
		</div>
        {% endif %}

    {% endif %}
</div>

</div>
{% endblock %}

{% block extrajs %}
    {% if go.sequences.count() > 1 %}
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
	<script>
			$.getJSON( "{{ url_for('go.go_json_test') }}", function( data ) {
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myPie = new Chart(ctx).Pie(data);
			});
	</script>
    {% endif %}
{% endblock %}