{% extends 'base.html' %}

{% block container %}
{% import 'macros/pagination.html' as macro %}
{% import 'macros/cluster_actions.html' as ca %}
<div class="top-pad">

    {% if go %}
    <h1>{{ go.label }}: <strong>{{ go.name }}</strong> <small>({{ go.type }})</small></h1>

    <p>{{ go.description }}</p>
    <br />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>There are <strong>{{ count }}</strong> sequences with this label.</p>
                    {% if count > 0 %}
                    <div id="canvas-holder" class="center-block">
                        <canvas id="chart-area" class="center-block" width="300" height="300"/>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Enriched clusters</div>
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table  table-striped" id="enriched_clusters">
                        <thead>
                            <tr>
                                <th data-sort="string-ins">Name</th>
                                <th data-sort="string-ins">Species</th>
                                <th data-sort="float">% in cluster</th>
                                <th data-sort="float">p-value</th>
                                <th data-sort="float">corrected p-value</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cluster in clusters %}
                                {% if cluster.corrected_p_value <= 0.05 %}
                                <tr>
                                    <td>{{ cluster.cluster.name }}</td>
                                    <td><em>{{ cluster.cluster.method.network_method.species.name }}</em></td>
                                    <td>{{ cluster.cluster_percentage|round(2) }} %</td>
                                    <td>{{ cluster.p_value|round(6) }}</td>
                                    <td>{{ cluster.corrected_p_value|round(6) }}</td>
                                    <td>{{ ca.cluster_actions(cluster.cluster.id) }}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    {{ macro.pagination('Sequences',
        url_for('go.go_sequences', go_id=go.id),
        count,
        url_for('go.go_sequences_table', go_id=go.id)
    ) }}

    {% endif %}


</div>
{% endblock %}

{% block extrajs %}
    <script src="{{ url_for('static', filename='js/planet_pagination.js') }}"></script>
    {% if count > 0 %}
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
	<script>
	$( document ).ready(function() {
	        $("#enriched_clusters").stupidtable();
	        $('[data-toggle="tooltip"]').tooltip();
			$.getJSON( "{{ url_for('go.go_json_species', go_id=go.id) }}", function( data ) {
				var ctx = document.getElementById("chart-area").getContext("2d");
				var myPie = new Chart(ctx, data);
			});
	});
	</script>
    {% endif %}
{% endblock %}