{% extends 'base.html' %}

{% block container %}
<div class="top-pad">

    {% if interpro %}
    <h1>{{ interpro.label }}: <strong>{{ interpro.description }}</strong></h1>
    <br/>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>There are <strong>{{ count }}</strong> sequences with this label.</p>
                    {% if count > 0 %}
                    <div id="canvas-holder" class="center-block">
                        <canvas id="chart-area" class="center-block" width="300" height="300"/>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Sequences</div>
                <div style="height:300px;overflow-y:auto;" id="planet-pagination"
                     base-url="{{ url_for('interpro.interpro_sequences', interpro_id=interpro.id) }}"
                     loader-url="{{ url_for('static', filename='img/ajax_loading.gif')}}"
                     page-count="{{ (count / g.page_items)|round(0, 'ceil')|int }}"></div>
                <div class="panel-body">
                    <button class="btn btn-primary" id="planet-pagination-first"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></button>
                    <button class="btn btn-primary" id="planet-pagination-back"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                    <button class="btn btn-primary" id="planet-pagination-next"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                    <button class="btn btn-primary" id="planet-pagination-last"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

</div>
{% endblock %}

{% block extrajs %}
    <script src="{{ url_for('static', filename='js/planet_pagination.js') }}"></script>
    {% if count > 0 %}
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
	<script>
			$.getJSON( "{{ url_for('interpro.interpro_json_species', interpro_id=interpro.id) }}", function( data ) {
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myPie = new Chart(ctx).Doughnut(data, {animateRotate : false});
			});
	</script>
    {% endif %}
{% endblock %}