{% extends 'base.html' %}

{% block container %}
<div class="top-pad">

    {% if form %}
    <h1>Search: Specific Profiles</h1>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Search options</strong></div>
                    <div class="panel-body">
                        <form method="POST"  action="{{ url_for('search.search_enriched_clusters') }}"  role="form">
                            {{ form.csrf_token }}
                            <label>Species</label>
                            {{form.species(class_="form-control")}}<br/>
                            <label>Methods</label>
                            {{form.methods(class_="form-control", disabled=True)}}<br/>
                            <label>Conditions</label>
                            {{form.conditions(class_="form-control", disabled=True)}}<br/>
                            <label><abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='spm') }}" data-target="#helpModal">SPM</abbr> cutoff :</label>
                            {{form.cutoff(class_="form-control", **{'data-provide':"slider",
                                                                    'data-slider-id':"cutoffSlider",
                                                                    'data-slider-min':"0.5",
                                                                    'data-slider-max':"1",
                                                                    'data-slider-step': "0.01",
                                                                    'data-slider-value': "0.85"})}}<br/>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/bootstrap-slider.min.js') }}"></script>
<script>

$('#cutoff').slider({
	formatter: function(value) {
		return 'Cutoff: ' + value;
	}
});

</script>
{% endblock %}