{% extends 'base.html' %}

{% block title%}
    Advanced Search
{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li><span class="text-muted"><strong>Search</strong> (Advanced)</span></li>
    </ol>
    <h1>Search <small>(Advanced)</small></h1>
    <p>Using the advanced search you can look for sequences using a combination of search parameters.</p>
    {% if adv_sequence_form %}
    <div class="row equal">
        <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Search parameters</strong></div>
                    <div class="panel-body">
                        <div class="controls">
                            <form method="POST"  action="{{ url_for('search.advanced') }}"  role="form">
                                {{ adv_sequence_form.csrf_token }}
                                <label>Species</label>
                                {{adv_sequence_form.species(class_="form-control")}}
                                <hr />
                                <label>Gene identifiers / names filter</label>
                                {{adv_sequence_form.gene_ids(class_="form-control")}}
                                <hr />
                                <div class="row">
                                    <div class="col-xs-4 col-lg-2"><label>Description</label></div>
                                    <div class="col-xs-8 col-lg-10">{{adv_sequence_form.terms_rules(class_="list-inline")}}</div>
                                </div>
                                {{adv_sequence_form.adv_terms(class_="form-control")}}
                                <hr />
                                <label>In Gene family</label>
                                {{adv_sequence_form.gene_family_method(class_="form-control")}}<br/>
                                {{adv_sequence_form.gene_families(class_="form-control")}}
                                <hr />
                                <div class="row">
                                    <div class="col-xs-4 col-lg-2"><label><abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='go') }}" data-target="#helpModal">GO</abbr> Terms</label></div>
                                    <div class="col-xs-8 col-lg-5">{{adv_sequence_form.go_rules(class_="list-inline")}}</div>
                                    <div class="col-xs-12 col-lg-5"><label>{{adv_sequence_form.include_predictions(checked=False, class_="")}} Include predictions ?</label></div>
                                </div>
                                <div class="dynamic-form-go">
                                {% for go_term in adv_sequence_form.go_terms %}
                                    <div class="dynamic-entry">
                                        <div class="input-group">
                                        {{ go_term.form.go_term(class_="form-control typeahead-go go-input") }}
                                        <span class="input-group-btn">
                                            <button class="btn btn-success btn-add-go" type="button">
                                               <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-xs-4 col-lg-2"><label><abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='interpro_domain') }}" data-target="#helpModal">InterPro</abbr> domains</label></div>
                                    <div class="col-xs-8 col-lg-10">{{adv_sequence_form.interpro_rules(class_="list-inline")}}</div>
                                </div>
                                <div class="dynamic-form-interpro">
                                {% for interpro_domain in adv_sequence_form.interpro_domains %}
                                    <div class="dynamic-entry">
                                        <div class="input-group">
                                        {{ interpro_domain.form.interpro_domain(class_="form-control typeahead-interpro interpro-input") }}
                                        <span class="input-group-btn">
                                            <button class="btn btn-success btn-add-interpro" type="button">
                                               <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                                <br />
                                <button type="submit" class="btn btn-primary pull-right" data-toggle="modal" data-target="#loaderModal">Find genes</button>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Help</strong></div>
                <div class="panel-body">
                    <p>The advanced search allow you to find sequences based on the combination of various elements. The
                    <strong>species</strong> can be defined, <strong>search terms</strong> (separated by spaces) for
                    descriptions, IDs and aliases, <strong>GO terms</strong> and <strong>InterPro domains</strong>. The
                    radio buttons define if <strong>all</strong> terms are required, only one (<strong>any</strong>) or
                    if text should match <strong>exact</strong>ly.</p>
                    <p>Additional GO terms and InterPro domains can be selected using the
                       <span class="glyphicon glyphicon-plus"></span> buttons. Remove terms again using the
                       <span class="glyphicon glyphicon-minus"></span> button</p>
                    <p>Click <strong>Find genes</strong> to start the search</p>

                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
<script>
$(function () {
    function typeahead_init_go () {
        var go = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          prefetch: '{{url_for('search.search_typeahead_prefetch_go')}}',
          remote: {
                url:'{{url_for('search.search_typeahead_go', term='%QUERY')}}',
                wildcard: '%25QUERY'
            }
        });


        $('.typeahead-go').typeahead({
            minLength: 3,
            highlight: true
        },
        {
          name: 'go',
          display: 'value',
          source: go,
          limit: 10,
            templates: {
                empty: [
                  '<div class="tt-suggestion"><p class="text-muted"><em>',
                    'unable to find any GO terms that match the current query',
                  '</em></p></div>'
                ].join('\n'),
                suggestion: function(data) {return '<div>' + data.label + ' : <em>' + data.value + '</em></div>'}
                }
        });
    };


    typeahead_init_go();


    $(document).on('click', '.btn-add-go', function(e)
    {
        e.preventDefault();

        $('.typeahead-go').typeahead('destroy');

        var controlForm = $('.dynamic-form-go'),
            currentEntry = $(this).parents('.dynamic-entry:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.dynamic-entry:not(:last) .btn-add-go')
            .removeClass('btn-add-go').addClass('btn-remove-go')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<span class="glyphicon glyphicon-minus"></span>');

        controlForm.find('.go-input').each( function(i) {
            $(this).attr('id', 'go_terms-' + i + '-go_term');
            $(this).attr('name', 'go_terms-' + i + '-go_term');
        });

        typeahead_init_go();

    }).on('click', '.btn-remove-go', function(e)
    {
        e.preventDefault();
        $('.typeahead-go').typeahead('destroy');

		$(this).parents('.dynamic-entry:first').remove();
        var controlForm = $('.dynamic-form-go');
        controlForm.find('.go-input').each( function(i) {
            $(this).attr('id', 'go_terms-' + i + '-go_term');
            $(this).attr('name', 'go_terms-' + i + '-go_term');
        });

        typeahead_init_go();

		return false;
	});
/* END TYPEAHEAD GO */
/* BEGIN TYPEAHEAD INTERPRO */

    function typeahead_init_interpro () {
        var interpro = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          prefetch: '{{url_for('search.search_typeahead_prefetch_interpro')}}',
          remote: {
                url:'{{url_for('search.search_typeahead_interpro', term='%QUERY')}}',
                wildcard: '%25QUERY'
            }
        });


        $('.typeahead-interpro').typeahead({
            minLength: 3,
            highlight: true
        },
        {
          name: 'interpro',
          display: 'value',
          source: interpro,
          limit: 10,
            templates: {
                empty: [
                  '<div class="tt-suggestion"><p class="text-muted"><em>',
                    'unable to find any InterPro domains that match the current query',
                  '</em></p></div>'
                ].join('\n'),
                suggestion: function(data) {return '<div>' + data.label + ' : <em>' + data.value + '</em></div>'}
                }
        });
    };

	typeahead_init_interpro();


    $(document).on('click', '.btn-add-interpro', function(e)
    {
        e.preventDefault();

        $('.typeahead-interpro').typeahead('destroy');

        var controlForm = $('.dynamic-form-interpro'),
            currentEntry = $(this).parents('.dynamic-entry:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.dynamic-entry:not(:last) .btn-add-interpro')
            .removeClass('btn-add-interpro').addClass('btn-remove-interpro')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<span class="glyphicon glyphicon-minus"></span>');

        controlForm.find('.interpro-input').each( function(i) {
            $(this).attr('id', 'interpro_domains-' + i + '-interpro_domain');
            $(this).attr('name', 'interpro_domains-' + i + '-interpro_domain');
        });

        typeahead_init_interpro();

    }).on('click', '.btn-remove-interpro', function(e)
    {
    	e.preventDefault();

        $('.typeahead-interpro').typeahead('destroy');

		$(this).parents('.dynamic-entry:first').remove();
        var controlForm = $('.dynamic-form-interpro');
        controlForm.find('.interpro-input').each( function(i) {
            $(this).attr('id', 'interpro_domains-' + i + '-interpro_domain');
            $(this).attr('name', 'interpro_domains-' + i + '-interpro_domain');
        });

        typeahead_init_interpro();

		return false;
	});
});
</script>
{% endblock %}