{% extends 'base.html' %}

{% block container %}
<div class="top-pad">


    {% if results%}
    <h1>Search results</h1>
    <div class="table-responsive">
        <table class="table table-striped" id="results_table">
            <thead>
            <tr>
                <th data-sort="int">ID</th>
                <th data-sort="string-ins">Species</th>
                <th data-sort="string-ins">Method</th>
                <th data-sort="string-ins">Name</th>
                <th data-sort="float">Enrichment</th>
                <th data-sort="float">p-value</th>
                <th data-sort="float">corrected p-value</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for r in results %}
                    {% for c in r.clusters %}
                    <tr>
                        <td>{{ c.cluster_id }}</td>
                        <td><em>{{ c.cluster.method.network_method.species.name }}</em></td>
                        <td>{{ c.cluster.method.method }}</td>
                        <td>{{ c.cluster.name }}</td>
                        <td>{{ c.enrichment|round(2) }}</td>
                        <td>{{ c.p_value|round(5) }}</td>
                        <td>{{ c.corrected_p_value|round(5) }}</td>
                        <td>
                            <a href="{{ url_for('expression_cluster.expression_cluster_view', cluster_id=c.cluster_id) }}" data-toggle="tooltip"
                                       data-placement="top" title="View cluster as table"><i class="fa fa-list"></i></a>
                                    <a href="{{ url_for('expression_cluster.expression_cluster_graph', cluster_id=c.cluster_id) }}" data-toggle="tooltip"
                                       data-placement="top" title="View cluster as graph"><i class="fa fa-share-alt"></i></a>
                                    <a href="{{ url_for('profile_comparison.profile_comparison_cluster', cluster_id=c.cluster_id) }}" data-toggle="tooltip"
                                       data-placement="top" title="Compare profiles in this cluster"><i class="fa fa-area-chart"></i></a>
                                    <a href="{{ url_for('heatmap.heatmap_cluster', cluster_id=c.cluster_id) }}" data-toggle="tooltip"
                                       data-placement="top" title="Heatmap of profiles in this cluster"><i class="fa fa-table"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </p>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% elif form %}
    <h1>Search: Enriched Clusters</h1>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Search options</strong></div>
                    <div class="panel-body">
                        <form method="POST"  action="{{ url_for('search.search_enriched_clusters') }}"  role="form">
                            {{ form.csrf_token }}
                            <label>GO</label>
                            {{form.go_term(class_="form-control typeahead") }}<br />
                            <label>Cluster Method</label>
                            {{form.method(class_="form-control") }}<br />
                            <div class="checkbox-group">
                            <label>{{form.check_enrichment(checked=False) }} <span class="title">Enrichment</span> </label><br />
                            {{form.min_enrichment(class_="form-control") }}<br />
                            </div>
                            <div class="checkbox-group">
                            <label>{{form.check_p(checked=False) }} <span class="title">p-value</span></label><br />
                            {{form.max_p(class_="form-control") }}<br />
                            </div>
                            <div class="checkbox-group">
                            <label>{{form.check_corrected_p(checked=True) }} <span class="title">corrected p-value</span></label><br />
                            {{form.max_corrected_p(class_="form-control") }}<br />
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $("#results_table").stupidtable();

    function update_checks( element ) {
         if (element.prop( "checked" )) {
            element.closest( ".checkbox-group" ).find(".title").removeClass("text-muted");
            element.closest( ".checkbox-group" ).find(":text").prop('disabled', false);
        } else {
            element.closest( ".checkbox-group" ).find(".title").addClass("text-muted");
            element.closest( ".checkbox-group" ).find(":text").prop('disabled', true);
        }
    }

    $( ":checkbox" ).each( function () {
        update_checks( $( this) );
    });
    $( ":checkbox" ).click( function() {
        update_checks( $( this) );
    });

    var go = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: '{{url_for('search.search_typeahead_prefetch')}}',
      remote: {
            url:'{{url_for('search.search_typeahead_go', term='%QUERY')}}',
            wildcard: '%25QUERY'
        }
    });


    $('.typeahead').typeahead({
        minLength: 3,
        highlight: true
    },
    {
      name: 'go',
      display: 'value',
      source: go
    });
});
</script>
{% endblock %}