{% extends 'base.html' %}

{% block container %}
<div class="top-pad">

    {% if sequence %}
    <h1>Sequence: <strong>{{ sequence.name }}</strong> <small>({{ sequence.type }})</small></h1>

    Species: <em><a href="{{ url_for('species.species_view', species_id=sequence.species.id) }}">{{ sequence.species.name }}</a></em>
    <br />


    <h3>Coding Sequence <small>(length: {{ sequence.coding_sequence|length }} bp)
        <a href="{{ url_for('sequence.sequence_fasta_coding', sequence_id=sequence.id) }}" data-toggle="tooltip" data-placement="top" title="Download coding sequence">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        </a></small></h3>
    <div class="well sequence">{{ sequence.coding_sequence }}</div>

    <br />
    <h3>Sequence details</h3>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">GO annotation</div>
                {% if sequence.go_associations.count() > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th>Label</th>
                                <th>Name</th>
                                <th>Evidence</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for go_association in sequence.go_associations %}
                            <tr>
                                <td><a href="{{ url_for('go.go_view', go_id=go_association.go.id) }}" data-toggle="tooltip"
                                       data-placement="top" title="{{ go_association.go.description }}">{{ go_association.go.label }}</a></td>
                                <td>{{ go_association.go.name }}</td>
                                <td>{{ go_association.evidence }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>No GO annotation available for this sequence</p>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">InterPro domains</div>
                {% if sequence.interpro_associations.count() > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Label</th>
                                <th>Description</th>
                                <th>Start</th>
                                <th>Stop</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for association in sequence.interpro_associations %}
                            <tr>
                                <td><a href="{{ url_for('interpro.interpro_view', interpro_id=association.domain.id) }}">{{ association.domain.label }}</a></td>
                                <td>{{ association.domain.description }}</td>

                                {% if association.start %}
                                    <td>{{ association.start }}</td>
                                {% else %}
                                    <td> - </td>
                                {% endif %}

                                {% if association.stop %}
                                    <td>{{ association.stop }}</td>
                                {% else %}
                                    <td> - </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>No InterPro domains available for this sequence</p>
                </div>
                {% endif %}
            </div>
        </div> <!-- end col -->

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Gene Families</div>
                {% if sequence.families.count() > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Method</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for family in sequence.families %}
                            <tr>
                                <td><a href="{{ url_for('family.family_view', family_id=family.id) }}">{{ family.name }}</a></td>
                                <td>{{ family.method.method }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>This sequence isn't a member of any gene families</p>
                </div>
                {% endif %}
            </div>
        </div> <!-- end col -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Expression Profiles</div>
                {% if sequence.expression_profiles.count() > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            {% for profile in sequence.expression_profiles %}
                            <tr>
                                <td><a href="{{ url_for('expression_profile.expression_profile_view', profile_id=profile.id) }}">{{ profile.probe }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>This sequence doens't have an expression profile associated with it</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Networks</div>
                {% if sequence.network_nodes.count() > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            {% for network in sequence.network_nodes %}
                            <tr>
                                <td>{{ network.method.description }}: <a href="{{ url_for('expression_network.expression_network_graph', node_id=network.id) }}">{{ network.probe }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>This sequence isn't included in a network</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Coexpression Clusters</div>
                {% if sequence.coexpression_clusters.count() > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            {% for cluster in sequence.coexpression_clusters %}
                            <tr>
                                <td><strong data-toggle="tooltip"
                                       data-placement="top" title="{{ cluster.method.method }}">{{ cluster.name }}</strong></td>
                                <td>
                                    <a href="{{ url_for('expression_cluster.expression_cluster_view', cluster_id=cluster.id) }}" data-toggle="tooltip"
                                       data-placement="top" title="View cluster as table"><i class="fa fa-list"></i></a>
                                    <a href="{{ url_for('expression_cluster.expression_cluster_graph', cluster_id=cluster.id) }}" data-toggle="tooltip"
                                       data-placement="top" title="View cluster as graph"><i class="fa fa-share-alt"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>This sequence isn't included in a network</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

</div>

    {% endblock %}
</div>
{% block extrajs %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
