{% extends 'base.html' %}

{% block container %}
{% import 'macros/cluster_actions.html' as ca %}
<div class="top-pad">

    {% if sequence %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li><a href="{{ url_for('species.species_view', species_id=sequence.species.id) }}"><em>{{ sequence.species.name }}</em></a></li>
        <li class="active">Sequence: <strong>{{ sequence.name }}</strong></li>
    </ol>
    <h1><strong>{{ sequence.name }}</strong> <small>({{ sequence.readable_type }})</small></h1>
    <br />

    {% if sequence.description %}

    <p><strong>Description: </strong> {{sequence.description}}</p>

    {% else %}

    <p><span class="text-muted"><em>No description available</em></span></p>

    {% endif %}

    <br />
    <p>Sequence: <a href="{{ url_for('sequence.sequence_modal_coding', sequence_id=sequence.id) }}" data-target="#profileModal">coding</a> (<a href="{{ url_for('sequence.sequence_fasta_coding', sequence_id=sequence.id) }}">download</a>) {%- if sequence.type == 'protein_coding' -%}, <a href="{{ url_for('sequence.sequence_modal_protein', sequence_id=sequence.id) }}" data-target="#profileModal">protein</a> (<a href="{{ url_for('sequence.sequence_fasta_protein', sequence_id=sequence.id) }}">download</a>) {% endif %}</p>

    {% if expression_profiles|count > 0 %}
        {% for profile in expression_profiles %}
            {% if loop.first %}
                <h3>Expression profile <small>(<a href="{{ url_for('expression_profile.expression_profile_view', profile_id=profile.id) }}">view details</a>)</small></h3>
                <div style="height:350px; max-height:350px; margin-top:30px">
                    <canvas id="expression-profile" class="center-block" height="350"/>
                </div>
            {% endif %}
        {% endfor %}
        {% if expression_profiles|count > 1 %}
            <p>All profiles  </p>
            <ul>
            {% for profile in expression_profiles %}
                <li><a href="{{ url_for('expression_profile.expression_profile_view', profile_id=profile.id) }}">{{ profile.probe }}</a> | <a href="{{ url_for('expression_profile.expression_profile_modal', profile_id=profile.id) }}" data-target="#profileModal">Show profile</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <h3>Expression profile</h3>
        <p><span class="text-muted"><em>No expression profile available</em></span></p>
    {% endif %}
    <br />
    <h3>Sequence details</h3>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='go') }}" data-target="#helpModal">GO</abbr> annotation <span class="text-muted">(<a href="#" id="go_toggle">Toggle parental</a>)</span></div>
                {% if go_associations|count > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table  table-striped" id="go_table">
                        <thead>
                            <tr>
                                <th data-sort="string-ins">Label</th>
                                <th data-sort="string-ins">Name</th>
                                <th data-sort="string-ins">Evidence</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for go_association in go_associations %}
                            {% if go_association.evidence == None %}
                            <tr class="parent_term" style="display: none">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td><a href="{{ url_for('go.go_view', go_id=go_association.go.id) }}" data-toggle="tooltip"
                                       data-placement="top" title="{{ go_association.go.description }}">{{ go_association.go.label }}</a></td>
                                <td>{{ go_association.go.name }}</td>
                                <td>{{ go_association.evidence }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>No GO annotation available for this sequence</p>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='interpro_domain') }}" data-target="#helpModal">InterPro domains</abbr></a></sup></div>
                {% if interpro_associations|count > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table table-striped" id="interpro_table">
                        <thead>
                            <tr>
                                <th data-sort="string-ins">Label</th>
                                <th data-sort="string-ins">Description</th>
                                <th data-sort="int">Start</th>
                                <th data-sort="int">Stop</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for association in interpro_associations %}
                            <tr>
                                <td><a href="{{ url_for('interpro.interpro_view', interpro_id=association.domain.id) }}">{{ association.domain.label }}</a></td>
                                <td>{{ association.domain.description }}</td>

                                {% if association.start %}
                                    <td>{{ association.start }}</td>
                                {% else %}
                                    <td> - </td>
                                {% endif %}

                                {% if association.stop %}
                                    <td>{{ association.stop }}</td>
                                {% else %}
                                    <td> - </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>No InterPro domains available for this sequence</p>
                </div>
                {% endif %}
            </div>
        </div> <!-- end col -->

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='gene_family') }}" data-target="#helpModal">Gene Families</abbr></div>
                {% if families|count > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table table-striped" id="family_table">
                        <thead>
                            <tr>
                                <th data-sort="string-ins">Name</th>
                                <th data-sort="string-ins">Method</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for family in families %}
                            <tr>
                                <td><a href="{{ url_for('family.family_view', family_id=family.id) }}">{{ family.name }}</a></td>
                                <td>{{ family.method.method }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>This sequence isn't a member of any gene families</p>
                </div>
                {% endif %}
            </div>
        </div> <!-- end col -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Expression Profiles</div>
                {% if expression_profiles|count > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            {% for profile in expression_profiles %}
                            <tr>
                                <td><a href="{{ url_for('expression_profile.expression_profile_view', profile_id=profile.id) }}">{{ profile.probe }}</a></td>
                                <td><a href="{{ url_for('expression_profile.expression_profile_modal', profile_id=profile.id) }}" data-target="#profileModal">Show profile</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>This sequence doens't have an expression profile associated with it</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Networks</div>
                {% if network_nodes|count > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            {% for network in network_nodes %}
                            <tr>
                                <td>{{ network.method.description }}: <a href="{{ url_for('expression_network.expression_network_graph', node_id=network.id) }}">{{ network.probe }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>This sequence isn't included in a network</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Coexpression Clusters</div>
                {% if coexpression_clusters|count > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            {% for cluster in coexpression_clusters %}
                            <tr>
                                <td><strong data-toggle="tooltip"
                                       data-placement="top" title="{{ cluster.method.method }}">{{ cluster.name }}</strong></td>
                                <td>
                                        {{ ca.cluster_actions(cluster.id) }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>This sequence isn't included in a network</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">External Links</div>
                {% if sequence.xrefs|count > 0 %}
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            {% for xref in sequence.xrefs %}
                            <tr>
                                <td><strong>{{ xref.platform }}</strong></td>
                                <td>
                                    {% if xref.url %}
                                        <a href="{{ xref.url }}">{{ xref.name }} <i class="fa fa-external-link"></i></a>
                                    {% else %}
                                        {{ xref.name }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% else %}
                <div class="panel-body panel-scroll">
                    <p>No external references for this sequences in the database.</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='ecc') }}" data-target="#helpModal">ECC</abbr></div>
                <div class="panel-scroll">
                <div class="table-responsive">
                    <table class="table  table-striped" id="ecc_hits_table">
                        <thead>
                            <tr>
                                <!--<th data-sort="string-ins">Query</th>-->
                                <th data-sort="string-ins">Target</th>
                                <th data-sort="float"><abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='ecc') }}" data-target="#helpModal">ECC</abbr> score</th>
                                <th data-sort="float">p-value</th>
                                <th data-sort="float">corrected p-value</th>
                                <th data-sort="string-ins">gene family method</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ecc_query_association in sequence.ecc_query_associations %}
                            <tr>
                                <!--<td><a href="{{ url_for('sequence.sequence_view', sequence_id=ecc_query_association.query_id) }}">{{ ecc_query_association.query.name }}</a></td>-->
                                <td><a href="{{ url_for('sequence.sequence_view', sequence_id=ecc_query_association.target_id) }}">{{ ecc_query_association.target_sequence.name }}</a></td>
                                <td>{{ ecc_query_association.ecc|round(2) }}</td>
                                <td>{% if ecc_query_association.p_value %}{{ ecc_query_association.p_value|round(3) }}{% else %}<em class="text-muted">None</em>{% endif %}</td>
                                <td>{% if ecc_query_association.corrected_p_value %}{{ ecc_query_association.corrected_p_value|round(3) }}{% else %}<em class="text-muted">None</em>{% endif %}</td>
                                <td>{{ ecc_query_association.gene_family_method.method }}</td>
                                <td><a href="{{ url_for('ecc.ecc_graph', sequence=sequence.id, network=ecc_query_association.query_network_method_id, family=ecc_query_association.gene_family_method_id) }}" data-toggle="tooltip"
   data-placement="top" title="View ECC as graph"><i class="fa fa-share-alt"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel">
  <div class="modal-dialog" role="document" style="width:1000px;height:800px;">
    <div class="modal-content">

    </div>

  </div>
</div>



    {% endif %}
</div>

</div>

    {% endblock %}
</div>
{% block extrajs %}
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script>

$(function () {
  $("#go_table").stupidtable();
  $("#interpro_table").stupidtable();
  $("#family_table").stupidtable();
  $("#ecc_hits_table").stupidtable();

  $('[data-toggle="tooltip"]').tooltip();
  $('a[data-target=#profileModal]').click(function(ev) {
    ev.preventDefault();
    var target = $(this).attr("href");

    // load the url and show modal on success
    $("#profileModal .modal-content").load(target, function() {
         $("#profileModal").modal("show");
    });
});
$("#go_toggle").click(function(ev) {
    ev.preventDefault();
    $(".parent_term").toggle();
});
})
{% if expression_profiles|count > 0 %}
        {% for profile in expression_profiles %}
            {% if loop.first %}
                Chart.defaults.global.responsive = true;
                Chart.defaults.global.maintainAspectRatio = false;
                $( document ).ready(function() {
                    $.getJSON( "{{ url_for('expression_profile.expression_profile_plot_json', profile_id=profile.id) }}", function( data ) {
                        var ctx = document.getElementById("expression-profile").getContext("2d");
                        var myChart = new Chart(ctx, data);
                    });
                });
            {% endif %}
        {% endfor %}
{% endif %}

</script>

{% endblock %}
