{% extends 'base.html' %}

{% block container %}
{% import 'macros/pagination.html' as macro %}
<div class="top-pad">

    {% if species %}
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.screen') }}">Home</a></li>
            <li><a href="{{ url_for('species.species_overview') }}">Species</a></li>
            <li class="active"><strong><em>{{ species.name }}</em></strong></li>
        </ol>
        <h1><strong><em>{{ species.name }}</em></strong> <small>({{ species.code }})</small></h1>

        {% if description %}
            {{ description }}
            <br />
        {% endif %}
        <br />

        <div class="row">
            <div class="col-lg-12">
                <br />
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download  <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('species.species_stream_coding', species_id=species.id)}}"  download="{{species.code}}.cds.fasta">Coding Sequences</a></li>
                        <li><a href="{{url_for('species.species_stream_protein', species_id=species.id)}}"  download="{{species.code}}.aa.fasta">Protein Sequences</a></li>
                    </ul>
                </div>
                <br /><br />
            </div>
        </div>

        {{ macro.pagination('Sequences', url_for('species.species_sequences', species_id=species.id), species.sequence_count, none, 'species') }}

    {% elif all_species %}
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.screen') }}">Home</a></li>
            <li class="active"><strong>Species</strong></li>
        </ol>
         <h1>Species Overview</h1>
         <div class="table-responsive">
            <table class="table" style="margin-bottom:100px;" id="species_table">
                <thead>
                    <tr>
                        <th data-sort="int">ID</th>
                        <th data-sort="string-ins">Code</th>
                        <th data-sort="string-ins">Name</th>
                        <th data-sort="int">Transcripts</th>
                        <th data-sort="int">Profiles</th>
                        <th data-sort="int">Networks</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for s in all_species  %}
                    <tr>
                        <td>{{ s.id }}</td>
                        <td>{{ s.code }}</td>
                        <td><em><a href="{{ url_for('species.species_view', species_id=s.id) }}">{{ s.name }}</a></em></td>
                        <td>{{ s.sequence_count }}</td>
                        <td>{{ s.profile_count }}</td>
                        <td><a href="{{url_for('expression_network.expression_network_species', species_id=s.id)}}">{{ s.network_count }}</a></td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download  <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{url_for('species.species_stream_coding', species_id=s.id)}}" download="{{s.code}}.cds.fasta">Coding Sequences</a></li>
                                    <li><a href="{{url_for('species.species_stream_protein', species_id=s.id)}}" download="{{s.code}}.aa.fasta">Protein Sequences</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
         </div>
    {% endif %}
</div>

</div>
{% endblock %}

{% block extrajs %}
    {% if all_species %}
        <script>
            $(function () {
                $("#species_table").stupidtable();
            });
        </script>
    {% endif %}
{% endblock %}