{% extends 'base.html' %}

{% block container %}
<div class="top-pad">

    {% if species %}
    <h1>Species: <strong>{{ species.name }}</strong> <small>({{ species.code }})</small></h1>

    Transcripts: {{ species.sequences.count() }}
    <br />

        {% if species.ncbi_tax_id %}
            NCBI taxonomy: <a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ species.ncbi_tax_id }}">{{ species.ncbi_tax_id }}</a><br />
        {% endif %}
        {% if species.pubmed_id %}
            Pubmed : <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ species.pubmed_id }}">{{ species.pubmed_id }}</a><br />
        {% endif %}
        {% if species.project_page %}
            Website : <a href="{{ species.project_page }}">{{ species.project_page }}</a><br />
        {% endif %}

        <div id="genes"></div>



    {% elif all_species %}
    <h1>Species Overview</h1>
     <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Transcripts</th>
                    <th>Networks</th>
                </tr>
            </thead>
            <tbody>
            {% for s in all_species  %}
                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s.code }}</td>
                    <td><em><a href="{{ url_for('species.species_view', species_id=s.id) }}">{{ s.name }}</a></em></td>
                    <td>{{ s.sequences.count() }}</td>
                    <td><a href="{{url_for('expression_network.expression_network_species', species_id=s.id)}}">{{ s.networks.count() }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}
</div>

</div>
{% endblock %}

{% block extrajs %}
    {% if species %}
        <script>
        $( document ).ready(function() {
            $( "#genes" ).load( "{{ url_for('sequence.sequence_species', species_id=species.id, page=1)}}" );
        });
        </script>
    {% endif %}
{% endblock %}