body {
padding-top: 50px;
}

.container {
  min-height: 100%;
  }

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file]{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
.btn-file input[type=submit]{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

textarea.form-control {
  resize:vertical;
  min-height: 200px;
}

.glyphicon-large {
    font-size: 12em;
    opacity: 0.2;
    padding-bottom: 10px;
}

.sequence{
	white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
	font-size: 11px;
    max-height: 100px;
    overflow-y:scroll;
}

.searchbar{
    display: inline;
    margin-top: 5px;
}

/*
  Cytoscape
*/

#cy {
  min-height: 800px;
  margin: 0px;
}

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}

#legend {
    display:none;
    margin-top:10px;
}


.panel-scroll { height:250px; max-height: 250px; width: 100%; margin: 0; overflow-y: auto; }

/*
 * Loader
 */

#loading {
  text-align: center;
  margin-top: 5em;
  font-size: 3em;
  color: #000;
  width:100%;
}


#loading.loaded {
  display: none;
}

.pagination_loading {
  text-align: center;
  margin-top: 50px;
  font-size: 3em;
  color: #000;
  width:100%;
}

.gsap_start_hidden {
    opacity:0
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    width: 280px;
  }
}

/* Hide for mobile, show later */
.sidebar-sequence {
  display: none;
}
@media (min-width: 1570px) {
  .sidebar-sequence {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    min-width:200px;
    max-width:200px;
    width:200px;
  }
}

.sidebar-sequence > p {
   margin-top: 25px;
   padding: 10px 20px;
   color: #fff;
   background-color: #428bca;
   font-weight: bold;
}

#navbar-side {
    padding: 20px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a, .nav-sidebar > li >  div, .nav-sidebar > li > p {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.sidebar {
   margin-bottom: 40px; /* make room for the footer */
}

.sidebar .cy-option-menu {
  min-width: 120px;
  width: 120px;
}

.dropdown-menu>li>p {
   padding: 3px 20px;
   margin: 0px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  border-top-color: rgb(238, 238, 238);
  border-top-style: solid;
  border-top-width: 1px;
  padding-top:10px;
  z-index:2;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Vertical separator in table
 */

.table-separated th:not(:last-child), .table-separated td:not(:last-child) {
    border-right: 1px solid #eee;
}

/*
 * Rotated table header
 */

th.rotated {
  /* Something you can count on */
  height: 200px;
  white-space: nowrap;
}

th.rotated > div {
  transform:
    /* Magic Numbers */
    translate(25px, 0px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}

th.rotated > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.fa-small {
  font-size:0.5em;
}

/*
table with scroll
*/

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

/*
Sortable table
*/

th[data-sort] {
    cursor: pointer;
}



th[data-sort] > span.sort-icon {
  font: normal normal normal 14px/1 FontAwesome;
  color: #ccc;
  margin-right: 5px;
}

th[data-sort].sorting-asc > span.sort-icon, th[data-sort].sorting-desc > span.sort-icon {
  color: #777;
}

th[data-sort] > .sort-icon:before {
  content: "\f0dc";
  margin-right: 5px;
}

th[data-sort].sorting-asc > .sort-icon:before {
  content: "\f0de";
  margin-right: 5px;
}

th[data-sort].sorting-desc > .sort-icon:before {
  content: "\f0dd";
  margin-right: 5px;
}

/*
submenu
*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Breadcrumb */
.breadcrumb {
    margin-top:15px
}

/* Headers */

.banner-blue {
    color: white;
    padding: 8px 15px;
    margin-bottom: 15px;
    list-style: none;
    background-color: #428bca;
    border-radius: 4px;
}

/* Badge */

.badge-notify{
   background:red;
   position:relative;
   top: -10px;
   left: -5px;
   transform: scale(0.8);
}

/*
Equal height panels. Should be added to class=row !
*/

.equal, .equal > div[class*='col-'] {
  display:         flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.panel-body > ul {
    padding-left: 15px;
}

.img-card {
    width: 100%;
}

.panel-card:hover
{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5)
    z-index: 2;
    -webkit-transition: all 150ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transition: all 150ms ease-in;
    -ms-transform: scale(1.02);
    -moz-transition: all 150ms ease-in;
    -moz-transform: scale(1.02);
    transition: all 150ms ease-in;
    transform: scale(1.02);
}


/*
    Force text-deco to none, conflict with more recent versions of chrome and firefox and the bootstrap version we use
*/
abbr[title] {
  text-decoration: none !important;
}

/*
  PhyD3 stuff
*/

div#phyd3 > svg {
    width: 100%;
}

div#phyd3 .table-responsive {
  padding: 0px;
  border-top: 0px;
  font-size: 80%;
}

div#phyd3 .table-responsive > table {
  border: 0px;
  margin-bottom: 0px;
}

.global-message {
        color: #31708f;
}

.warning-message {
        color: #a94442;
}

.fa-rotate-45 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

g.legend_node {
    cursor:pointer;
}

.alias-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}