{% macro expression_profile(target, url) -%}
$( document ).ready(function() {
    $.getJSON( "{{ url}}", function( data ) {
        var ctx = document.getElementById("{{ target }}").getContext("2d");
        data['options']['responsive'] = true;
        data['options']['maintainAspectRatio'] = false;
        data['options']['tooltips'] = {
            enabled: true,
            mode: 'single',
            callbacks: {
                label: function(tooltipItems, data) {
                    return tooltipItems.yLabel.toFixed(2);
                }
            }
        }
        console.log(data);
        var myChart = new Chart(ctx, data);
    });
});
{%- endmacro %}