{% macro cluster_actions(cluster_id) -%}
<a href="{{ url_for('expression_cluster.expression_cluster_view', cluster_id=cluster_id) }}" data-toggle="tooltip"
   data-placement="top" title="View cluster as table"><i class="fa fa-list"></i></a>
<a href="{{ url_for('expression_cluster.expression_cluster_graph', cluster_id=cluster_id) }}" data-toggle="tooltip"
   data-placement="top" title="View cluster as graph"><i class="fa fa-share-alt"></i></a>
<a href="{{ url_for('profile_comparison.profile_comparison_cluster', cluster_id=cluster_id) }}" data-toggle="tooltip"
   data-placement="top" title="Compare profiles in this cluster"><i class="fa fa-area-chart"></i></a>
<a href="{{ url_for('heatmap.heatmap_cluster', cluster_id=cluster_id) }}" data-toggle="tooltip"
   data-placement="top" title="Heatmap of profiles in this cluster"><i class="fa fa-table"></i></a>
{%- endmacro %}