{% macro pagination(title, url, count, download, key) -%}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default planet-pagination-container">
            {% if count >= 0 %}
                <div class="panel-heading">{{title}} ({{ count }}) {% if download %} (<a href="{{ download }}" download="table.csv">download table</a>){% endif %}</div>
                <div style="height:300px;overflow-y:auto;" class="planet-pagination"
                     base-url="{{ url }}"
                     page-count="{{ (count / g.page_items)|round(0, 'ceil')|int }}"
                     current_page=1
                     key="{{ key }}"></div>
            {% else %}
                <div class="panel-heading">{{title}}{% if download %} (<a href="{{ download }}" download="table.csv">download table</a>){% endif %}</div>
                <div style="height:300px;overflow-y:auto;" class="planet-pagination"
                     base-url="{{ url }}"
                     page-count="-1"
                     current_page=1
                     key="{{ key }}"></div>
            {% endif %}
            <div class="panel-body">
                <button class="btn btn-primary planet-pagination-first"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></button>
                <button class="btn btn-primary planet-pagination-back"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                <button class="btn btn-primary planet-pagination-next"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                {% if count >= 0 %}
                    <button class="btn btn-primary planet-pagination-last"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></button>
                {% else %}
                    <button class="btn btn-primary" disabled><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<br />
{%- endmacro %}