{% extends 'admin/master.html' %}

{% block brand %}
<a class="navbar-brand" href="{{ url_for('main.screen') }}"><img src="{{ url_for('static', filename='img/icon-48x48.png') }}" style="max-width:100px;margin-left:-7px;margin-top: -13px;float:left;margin-right:5px;" width="48px"/></a>
{% endblock %}

{% block body %}
<h1>Controls</h1>
<p>Using the buttons below data in the database can be re-calculated.</p>

<h3>Update</h3>
<div class="btn-group">
    <a class="btn btn-default" href="{{ url_for('admin_controls.update_counts') }}">Counts</a>
    <a class="btn btn-default" href="{{ url_for('admin_controls.update_clades') }}">Clades</a>
</div>

<h3>Co-expression clusters</h3>
<div class="btn-group">
    <a class="btn btn-default" href="{{ url_for('admin_controls.calculate_enrichment') }}">GO enrichment</a>
</div>
<br />
<h4>Cluster Similarities</h4>
<div class="btn-group">
    {% for gfm in gene_family_methods %}
        <a class="btn btn-default" href="{{ url_for('admin_controls.calculate_cluster_similarity', gf_method_id=gfm.id) }}">{{ gfm.method }} </a>
    {% else%}
        <p>No gene families defined. Unable to calculate similarites between co-expression clusters</p>
    {% endfor %}
</div>

<h3>Cache</h3>
<p>If caching is enabled, clearing the cache is recommended after uploading data or making changes</p>
<div class="btn-group">
    <a class="btn btn-default" href="{{ url_for('admin_controls.clear_cache') }}">Clear</a>
</div>

{% if g.blast_enabled %}
<h3>Blast</h3>
<p>This will build the Blast DB</p>
<div class="btn-group">
    <a class="btn btn-default" href="{{ url_for('admin_controls.build_blast_db') }}">Build Blast DB</a>
</div>
{% endif %}

<h3>Export</h3>
<p>This will export the data to the FTP folder sepcified in the configuration.</p>
<div class="btn-group">
    <a class="btn btn-default" href="{{ url_for('admin_controls.export_ftp') }}">FTP</a>
</div>

{% endblock %}