{% extends 'base.html' %}

{% block title %}
    {{ first_profile.probe }} - {{ second_profile.probe }} profile comparison
{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li><a href="{{ url_for('main.features') }}">Tools</a></li>
        <li class="active"><strong>Compare Profiles</strong></li>
    </ol>
    <h1>Comparing profiles of <strong>{{ first_profile.probe }}</strong> and <strong>{{ second_profile.probe }}</strong></h1>
    {% if pcc %}
    <p><abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='pcc') }}" data-target="#helpModal">PCC</abbr>: {{ pcc }}</p>
    {% endif %}
    {% if hrr %}
    <p><abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='hrr') }}" data-target="#helpModal">HRR</abbr>: {{ hrr }}</p>
    {% endif %}
    {% if species_id %}
        {% if normalize == 1 %}
            <span class="text-muted">Normalization: <strong>Enabled</strong></span> | (<a href="{{ url_for('expression_profile.expression_profile_compare_probes', probe_a=probe_a, probe_b=probe_b, species_id=species_id, normalize=0)}}">disable</a>)
        {% else %}
            <span class="text-muted">Normalization: <strong>Disabled</strong></span> | (<a href="{{ url_for('expression_profile.expression_profile_compare_probes', probe_a=probe_a, probe_b=probe_b, species_id=species_id, normalize=1)}}">enable</a>)
        {% endif %}
    {% else %}
        {% if normalize == 1 %}
            <span class="text-muted">Normalization: <strong>Enabled</strong></span> | (<a href="{{ url_for('expression_profile.expression_profile_compare', first_profile_id=first_profile.id, second_profile_id=second_profile.id, normalize=0)}}">disable</a>)
        {% else %}
            <span class="text-muted">Normalization: <strong>Disabled</strong></span> | (<a href="{{ url_for('expression_profile.expression_profile_compare', first_profile_id=first_profile.id, second_profile_id=second_profile.id, normalize=1)}}">enable</a>)
        {% endif %}
    {% endif %}
    <p></p>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="canvas-holder2" class="center-block">
                        <canvas id="chart-area" class="center-block" width="800" height="600"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hammer.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chartjs-plugin-zoom.min.js') }}"></script>
	<script>
			$.getJSON( "{{ url_for('expression_profile.expression_profile_compare_plot_json', first_profile_id=first_profile.id, second_profile_id=second_profile.id, normalize=normalize) }}", function( data ) {
				var ctx = document.getElementById("chart-area").getContext("2d");
				var myChart = new Chart(ctx, data);
			});
	</script>
{% endblock %}