{% extends 'base.html' %}

{% block title %}
    Log in
{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li class="active"><strong>Log in</strong></li>
    </ol>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Log in</strong></div>
                <div class="panel-body">
                    {% if next %}
                        <form method="POST"  action="{{ url_for('auth.login', next=next) }}"  role="form">
                    {% else %}
                        <form method="POST"  action="{{ url_for('auth.login') }}"  role="form">
                    {% endif %}
                    {{ form.csrf_token }}
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span> {{form.username(class_="form-control") }}</div><br />
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span> {{form.password(class_="form-control") }}</div><br />
                        <div class="input-group">{{ form.keep_logged.label }} {{form.keep_logged(checked=True) }}</div>
                        <button type="submit" class="btn btn-primary pull-right">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
