<div>
    <div><strong>Method: </strong>{{ family.method.method }}</div>
    {% if family.clade %}
        <div><hr /><strong>Clade: </strong>{{ family.clade.name }}</div>
    {% endif %}
    {% if family.go_annotations.count() > 0 %}
        <div><hr />
        <p><strong>GO Terms</strong> <span class="text-muted">(top 5)</span>:<br/>
        {% for term in family.go_annotations %}
            <span>{{ term.go_term.name }} <span class="text-muted">({{term.go_term.short_type}})</span></span>{%- if not loop.last -%}, {%- endif -%}
        {% endfor %}
        </p>

        </div>
    {% endif %}
    {% if family.interpro_annotations.count() > 0 %}
    <div>
    <hr />
    <p><strong>InterPro domains</strong> <span class="text-muted">(top 3)</span>:
        {% for domain in family.interpro_annotations %}
            <span>{{ domain.domain.description }}</span>{%- if not loop.last -%}, {%- endif -%}
        {% endfor %}
        </p>
    </div>
    {% endif %}
</div>