<div class="table-responsive">
    <table class="table table-striped stupidtable">
        <thead>
            <tr>
                <th data-sort="string-ins"><span class="sort-icon"></span>Label</th>
                <th data-sort="string-ins"><span class="sort-icon"></span>Name</th>
                <th data-sort="string-ins"><span class="sort-icon"></span>Description</th>
                <th data-sort="int"><span class="sort-icon"></span>Sequence count</th>
                <th data-sort="int"><span class="sort-icon"></span>Species count</th>
            </tr>
        </thead>
        <tbody>
            {% for go_id, go_stat in go_stats.items() %}
            <tr>
                <td><a href="{{ url_for('go.go_view', go_id=go_id) }}">{{ go_stat.go.label }}</a></td>
                <td>{{ go_stat.go.name }}</td>
                <td>{{ go_stat.go.description|truncate(80) }}</td>
                <td>{{ go_stat.sequence_count }}</td>
                <td>{{ go_stat.species_count }}</td>
            </tr>
            {% else %}
            <tr>
                <td>
                    <p><em>No associated GO terms for this item in the database.</em></p>
                </td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>