{% macro expression_profile(target, url, enable_zoom=none, enable_pan=none ) -%}
$( document ).ready(function() {
    $.getJSON( "{{ url}}", function( data ) {
        var ctx = document.getElementById("{{ target }}").getContext("2d");
        data['options']['responsive'] = true;
        data['options']['maintainAspectRatio'] = false;
        data['options']['tooltips'] = {
            enabled: true,
            mode: 'label',
            itemSort: function(a, b, data) {
                conversion = {'Minimum': 0, 'Mean - Stdev':0, 'Mean': 1, 'Maximum': 2, 'Mean + Stdev': 2}

                if (conversion[data.datasets[a.datasetIndex].label] > conversion[data.datasets[b.datasetIndex].label]) {
                    return -1
                } else if (conversion[data.datasets[a.datasetIndex].label] < conversion[data.datasets[b.datasetIndex].label]) {
                    return 1
                } else {
                    return 0
                }
            },
            callbacks: {
                afterTitle: function(tooltipItems, data) {
                    if (data.counts[tooltipItems[0].index] == null) {
                        return null;
                    } else {
                        if (data.counts[tooltipItems[0].index] == 1) {
                            return '(1 sample)';
                        } else {
                            return '(' + data.counts[tooltipItems[0].index] + ' samples)';
                        }
                    }
                },
                label: function(tooltipItems, data) {
                    return data.datasets[tooltipItems.datasetIndex].label + ': ' + tooltipItems.yLabel.toFixed(2);
                }
            }
        }
        var myChart = new Chart(ctx, data);

        {% if enable_zoom %}
            if (myChart.options.zoom.enabled) {
                    $("#{{ enable_zoom }}").addClass("btn-success");
                    $("#{{ enable_zoom }}").removeClass("btn-danger");
                    $("#{{ enable_zoom }}").removeClass("btn-default");
            } else {
                    $("#{{ enable_zoom }}").addClass("btn-danger");
                    $("#{{ enable_zoom }}").removeClass("btn-success");
                    $("#{{ enable_zoom }}").removeClass("btn-default");
            }
            $("#{{ enable_zoom }}").click( function(ev) {
                ev.preventDefault();

                myChart.options.zoom.enabled = ! myChart.options.zoom.enabled;
                if (myChart.options.zoom.enabled) {
                    $(this).addClass("btn-success");
                    $(this).removeClass("btn-danger");
                    $(this).removeClass("btn-default");
                } else {
                    $(this).addClass("btn-danger");
                    $(this).removeClass("btn-success");
                    $(this).removeClass("btn-default");
                }
            });
        {% endif%}
        {% if enable_pan %}
            if (myChart.options.pan.enabled) {
                    $("#{{ enable_pan }}").addClass("btn-success");
                    $("#{{ enable_pan }}").removeClass("btn-danger");
                    $("#{{ enable_pan }}").removeClass("btn-default");
            } else {
                    $("#{{ enable_pan }}").addClass("btn-danger");
                    $("#{{ enable_pan }}").removeClass("btn-success");
                    $("#{{ enable_pan }}").removeClass("btn-default");
            }
            $("#{{ enable_pan }}").click( function(ev) {
                ev.preventDefault();

                myChart.options.pan.enabled = ! myChart.options.pan.enabled;
                if (myChart.options.pan.enabled) {
                    $(this).addClass("btn-success");
                    $(this).removeClass("btn-danger");
                    $(this).removeClass("btn-default");
                } else {
                    $(this).addClass("btn-danger");
                    $(this).removeClass("btn-success");
                    $(this).removeClass("btn-default");
                }

            });
        {% endif%}
    });
});
{%- endmacro %}

{% macro expression_profile_loader(target, url, loader_id) -%}
$( document ).ready(function() {
    $("#{{ loader_id }}").html(get_loader_svg('{{loader_id}}_leafy'));
    init_planet_loader('{{loader_id}}_leafy');
    $.getJSON( "{{ url}}", function( data ) {
        var ctx = document.getElementById("{{ target }}").getContext("2d");
        data['options']['responsive'] = true;
        data['options']['maintainAspectRatio'] = false;
        data['options']['tooltips'] = {
            enabled: true,
            mode: 'label',
            itemSort: function(a, b, data) {
                conversion = {'Minimum': 0, 'Mean - Stdev':0, 'Mean': 1, 'Maximum': 2, 'Mean + Stdev': 2}

                if (conversion[data.datasets[a.datasetIndex].label] > conversion[data.datasets[b.datasetIndex].label]) {
                    return -1
                } else if (conversion[data.datasets[a.datasetIndex].label] < conversion[data.datasets[b.datasetIndex].label]) {
                    return 1
                } else {
                    return 0
                }
            },
            callbacks: {
                afterTitle: function(tooltipItems, data) {
                    if (data.counts[tooltipItems[0].index] == null) {
                        return null;
                    } else {
                        if (data.counts[tooltipItems[0].index] == 1) {
                            return '(1 sample)';
                        } else {
                            return '(' + data.counts[tooltipItems[0].index] + ' samples)';
                        }
                    }
                },
                label: function(tooltipItems, data) {
                    return data.datasets[tooltipItems.datasetIndex].label + ': ' + tooltipItems.yLabel.toFixed(2);
                }
            }
        }
        var myChart = new Chart(ctx, data);
        $("#{{ target }}").toggle();
        $("#{{ loader_id }}").toggle();
    });
});
{%- endmacro %}

{% macro pie_chart(target, url) -%}
$( document ).ready(function() {
    $.getJSON( "{{ url}}", function( data ) {
        var ctx = document.getElementById("{{ target }}").getContext("2d");
        data['options'] = {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: 'bottom'
            }
        }
        var myChart = new Chart(ctx, data);

    });
});
{%- endmacro %}

{% macro pie_chart_loader(target, url, loader_id) -%}
$( document ).ready(function() {
    $("#{{ loader_id }}").html(get_loader_svg('{{loader_id}}_leafy'));
    init_planet_loader('{{loader_id}}_leafy');
    $.getJSON( "{{ url}}", function( data ) {
        var ctx = document.getElementById("{{ target }}").getContext("2d");
        data['options'] = {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: 'bottom'
            }
        }
        var myChart = new Chart(ctx, data);
        $("#{{ target }}").toggle();
        $("#{{ loader_id }}").toggle();
    });
});
{%- endmacro %}