{% if profile %}
<div class="modal-header">
    {% if  profile.sequence %}
    <h4 class="modal-title" id="myModalLabel">Expression profile for: <strong>{{ profile.sequence.name }}</strong> <small>({{ profile.probe }})</small></h4>
    {% else %}
    <h4 class="modal-title" id="myModalLabel">Expression profile for: <strong>{{ profile.probe }}</strong></h4>
    {% endif %}

</div>
<div class="modal-body" syle="width:700px;height:800px">
    <canvas id="profile-chart" class="center-block" width="700" height="800"/>
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
<script>
{% import "macros/chartjs.html" as chartjs %}
{{ chartjs.expression_profile("profile-chart", url_for('expression_profile.expression_profile_plot_json', profile_id=profile.id)) }}
</script>
{% endif %}