{% extends 'base.html' %}

{% block title %}
    PlaNet 2.0 - About
{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li class="active"><strong>About</strong></li>
    </ol>
    <h1>About PlaNet 2.0</h1>
    <br />
    PlaNet 2.0 has been developed within the <a href="http://www.evorepro.org/">EvoRepro</a> project and is supported
    primarily by <a href="http://www.eracaps.org/joint-calls/era-caps-funded-projects/era-caps-second-call-2014/evolution-sexual-reproduction-plants">ERA-CAPs</a>
    and the <a href="https://www.mpg.de/en">Max Planck Society</a>.
    <br />
    <h2>Publications</h2>

    <strong>Related publications</strong>
    <br /><br />
    <ul>
        <li><strong>Phylogenomic analysis of gene co-expression networks reveals evolution of functional modules</strong>, C. Ruprecht, S. Proost, M. Hernandez-Coronado, C. Ortiz-Ramirez, D. Lang, S. A. Rensing, J. D. Becker,
            K. Vandepoele, M. Mutwil, <em>The Plant Journal</em> (2017) <a href="https://www.ncbi.nlm.nih.gov/pubmed/28161902"><i class="fa fa-file" aria-hidden="true"></i></a></li>
        <li><strong>Beyond genomics: studying evolution with gene networks</strong>, C. Ruprecht, N. Vaid, S. Proost, S.
            Persson, M. Mutwil, <em>Trends in Plant Science</em> (2017) <a href="https://www.ncbi.nlm.nih.gov/pubmed/28126286"><i class="fa fa-file" aria-hidden="true"></i></a></li>
        <li><strong>PlaNet: Comparative Co-Expression Network Analyses for Plants</strong>, S. Proost, M.Mutwil,
            <em>Plant Genomics Databases (Book Chapter)</em> (2017)  <a href="https://www.ncbi.nlm.nih.gov/pubmed/27987173"><i class="fa fa-file" aria-hidden="true"></i></a></li>
        <li><strong>Tools of the trade: studying molecular networks in plants</strong>, S. Proost, M.Mutwil,
            <em>Current Opinion in Plant Biology</em> (2016) <a href="http://www.ncbi.nlm.nih.gov/pubmed/26990519"><i class="fa fa-file" aria-hidden="true"></i></a></li>
    </ul>

    <h2>Links</h2>
    <ul>
        <li><a href="http://www.gene2function.de">http://www.gene2function.de</a> : the first version of PlaNet</li>
    </ul>

    <div class="row">


    </div>
</div>

</div>
{% endblock %}
