{% extends 'base.html' %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>
    <div>
    <img src="{{ url_for('static', filename='img/icon-192x192.png') }}" style="float:left;margin-right:25px;margin-top:-20px" />
    <h1>Welcome to PlaNet 2.0<br /> <small>a platform dedicated to the visualization and analysis of plant co-expression and co-function networks.</small></h1>
    </div>
    <div class="row">


    </div>
</div>

</div>
{% endblock %}
