{% extends 'base.html' %}

{% block title %}
    CoNekT - Privacy policy
{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li class="active"><strong>Disclaimer</strong></li>
    </ol>
    <h1>CoNekT Privacy policy</h1>

    <p>No personal data needs to be entered to use CoNekT. Data submitted through the CoNekT BLAST interface is
    stored anonymously for the duration of the analysis. Results can be accessed using the personalized URL provided
    upon submitting the sequence for up to one week.</p>

    {% if g.privacy %}
    <p>If in any case personal date should be (unintentionally) collected, stored or used, these <a href="{{ g.privacy }}">privacy policies</a> apply.</p>
    {% endif %}

</p>
</div>

</div>
{% endblock %}
