<div class="table-responsive">
    <table class="table table-striped table-separated">
        <tbody>
            {% for r in relations %}
                <tr>
                    <td><a href="{{ url_for('sequence.sequence_view', sequence_id=r.sequence_one_id) }}" class="qtip_tooltip qtip_dynamic_tooltip" qtip_href="{{ url_for('sequence.sequence_tooltip', sequence_id=r.sequence_one_id) }}">{{ r.sequence_one.name }}</a></td>
                    <td><a href="{{ url_for('sequence.sequence_view', sequence_id=r.sequence_two_id) }}" class="qtip_tooltip qtip_dynamic_tooltip" qtip_href="{{ url_for('sequence.sequence_tooltip', sequence_id=r.sequence_two_id) }}">{{ r.sequence_two.name }}</a></td>
                    <td><a href="{{ url_for('clade.clade_view', clade_id=r.clade_id) }}">{{ r.clade.name }}</a></td>
                    <td>{{ r.readable_type }}</td>
                    <td>{{ r.readable_score }}</td>
                    <td><a href="{{ url_for('tree.tree_view', tree_id=r.tree_id) }}">{{ r.tree.label }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5"><em>No sequences sequence clade associations found</em></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>