<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            {% for sequence_association in sequence_associations %}
                <tr>
                    <td><a href="{{ url_for('expression_profile.expression_profile_find', probe=sequence_association.probe, species_id=species_id) }}">{{ sequence_association.probe }}</a></td>
                    {% if sequence_association.sequence %}
                    <td><a href="{{ url_for('sequence.sequence_view', sequence_id=sequence_association.sequence.id) }}">{{ sequence_association.sequence.name }}</a></td>
                    {% else %}
                    <td><em class="text-muted">No sequence associated with this probe</em></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>