<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            {% for sequence in sequences %}
                <tr>
                    <td><a href="{{ url_for('sequence.sequence_view', sequence_id=sequence.id) }}">{{ sequence.name }}</a></td>
                    <td><a href="{{ url_for('species.species_view', species_id=sequence.species_id) }}"><em>{{ sequence.species.name }}</em></a></td>
                    <td>{{ sequence.type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>